// Primary

$SCISSORS_GRADIENT: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
$PAPER_GRADIENT: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
$ROCK_GRADIENT: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
$LIZARD_GRADIENT: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
$CYAN: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

// Neutral

$DARK_TEXT: hsl(229, 25%, 31%);
$SCORE_TEXT: hsl(229, 64%, 46%);
$HEADER_OUTLINE: hsl(217, 16%, 45%);

// Background

$RADIAL_GRADIENT: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);

// Fonts

$MAIN_FONT: 'Barlow Semi Condensed';
