@import './variables';
@import './normalize.scss';
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

.container {
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient($RADIAL_GRADIENT);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: $MAIN_FONT;
}

.score {
  border: 2px solid $HEADER_OUTLINE;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 400px;

  &__total {
    width: 120px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-weight: 700;
    color: $SCORE_TEXT;
    letter-spacing: 2px;
  }

  &__text {
    font-size: 50px;
    font-weight: 600;
    color: $DARK_TEXT;
  }
}

.game {
  position: relative;

  &__finishBox {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__chip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h4 {
      color: white;
      font-size: 20px;
    }
  }

  &__enemyChip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h4 {
      color: white;
      font-size: 20px;
    }
  }

  &__resultBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__resultTitle {
    color: white;
    font-size: 35px;
  }

  &__playBtn {
    all: unset;
    cursor: pointer;
    color: $DARK_TEXT;
    background-color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
  }

  &__scissor {
    position: absolute;
    left: 92px;
    top: -42px;

    &_gradient {
      background: linear-gradient($SCISSORS_GRADIENT);
    }
  }

  &__paper {
    position: absolute;
    left: 251px;
    top: 51px;

    &_gradient {
      background: linear-gradient($PAPER_GRADIENT);
    }
  }

  &__rock {
    position: absolute;
    left: 195px;
    top: 239px;

    &_gradient {
      background: linear-gradient($ROCK_GRADIENT);
    }
  }

  &__lizard {
    position: absolute;
    top: 241px;
    left: 0;

    &_gradient {
      background: linear-gradient($LIZARD_GRADIENT);
    }
  }

  &__spock {
    position: absolute;
    top: 38px;
    left: -76px;

    &_gradient {
      background: linear-gradient($CYAN);
    }
  }
}

.chip {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px -11px 5px -5px rgba(221, 221, 182, 0.6) inset;
  cursor: pointer;

  &__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 12px 6px -4px rgba(221, 221, 182, 0.6) inset;
  }
}

.rules {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 40px;

  &__btn {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid $HEADER_OUTLINE;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    color: white;
    letter-spacing: 2px;
  }
}

.background {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient($RADIAL_GRADIENT);
  opacity: 50%;
}

.modal {
  &__boxOne {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }

  &__rules {
    background-color: white;
    padding: 30px 40px 30px 40px;
    border-radius: 5px;
    top: 30%;
    left: 38%;
    position: fixed;
    z-index: 100;
    font-size: 30px;
    font-weight: 700;
  }

  &__title {
    color: $SCORE_TEXT;
    font-family: $MAIN_FONT;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
